html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: #EEEEEE;
  margin:0;
  padding: 0;
  position: relative;
}

.board {
  min-height: 70px;
  height: auto !important;
  width: 200px;
  padding: 5px;
  position: absolute; 
}

.board:focus {
  border: 1px solid #BBB;
  outline: none;
}
