html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#navbar {
  position: fixed;
  margin: 0;
  float: left;
  height: 100%;
  width: 20%;
  background: linear-gradient(45deg, #F500FF, #00ADFF);
}

#main {
  margin: 0;
  float: left;
  height: 100%;
  width: 80%;
  margin-left: 20%;
}

#navbar ul {
  float: right;
  list-style: none;

  width: 100%;
  height: auto;

  margin-right: 15%;
  margin-top: 30%;
  box-sizing: border-box;
}

#navbar ul li {
  float: right;
  text-align: right;
  width: 100%;
  min-height: 50px;
  color: white;
  font-family: 'Helvetica';
  font-size: 1.2em;
}

#main .item {
  float: left;
  width: 100%;
  min-height: 20%;
  height: auto;
  border-bottom: 1px solid silver;
  box-sizing: border-box;
  padding-left: 5%;
  padding-bottom: 2%;
  font-family: 'Helvetica';
}

.item h2 {
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  font-weight: normal;
  width: 100%;
  height: 30px;
}

ul.meta {
  list-style: none;
  width: 100%;
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
}
ul.meta li {
  float: left;
}

.content {
  float: left;
  font-size: 1.1em;
  color: rgb(37, 37, 37);
  font-family: "Helvetica";
  font-weight: lighter;
}
p > code {
  display: inline-block;
  background: rgb(63, 146, 253);;
  border-radius: 3px;
  width: auto;
  padding: 1px 6px 3px 6px;
  height: auto;
  vertical-align: middle;
  text-align: center;
  color: white;

}
.item .whole-article-promote {
  font-style: italic;
  color: blue;
  text-decoration: none;
}
.item .whole-article-promote:hover {
  text-decoration: underline;
}

.meta .timestamp {
  font-style: italic;
  margin-right: 10px;
}
.item h2 a {
  color: inherit;
  text-decoration: none;
}

#main .post {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2% 8% 0 8%;
  box-sizing: border-box;
}

.post h1.title {
  font-weight: normal;
}

.post ul.meta {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 0;
  list-style: none;
}

.post ul.meta li { 
  float: left;
}

.item h3:hover {
  cursor: pointer;
}

#navbar ul a {
  color: white;
  text-decoration: none;
}
#navbar ul a:visited {
  color: white;
}

#navbar ul a:hover {
  text-decoration: none; 
}
