html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  color: #565656;
}

#navbar {
  position: fixed;
  margin: 0;
  float: left;
  height: 100%;
  width: 20%;
  background: -webkit-linear-gradient(45deg, #F500FF, #00ADFF);
}

#main {
  margin: 0;
  float: left;
  height: 100%;
  width: 80%;
  margin-left: 20%;
}

#navbar .nav {
  float: right;
  list-style: none;

  width: 100%;
  height: auto;

  margin-right: 15%;
  margin-top: 30%;
  box-sizing: border-box;
}

#navbar .nav li {
  float: right;
  text-align: right;
  width: 100%;
  height: auto;
  color: white;
  font-family: 'Helvetica';
  font-size: 1.2em;
  opacity: 0.6;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
}
#navbar .nav li:hover {
  opacity: 1;
  text-shadow: 1px 1px gray, 2px 2px gray;
  -webkit-transition: all 0.2s ease-in-out;
}

#main .meta {
  color: #9c9c9c;
}

#items {
  float: left;
  list-style: none;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
}

#items li {
  position: relative;
  padding: 40px;
  border-bottom: 1px solid silver;
}
#items li:hover {
  cursor: pointer;
}
#items li:before {
  content: '';
  height: 100%;
  width: 100%;
  display: block;

  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;

  background: -webkit-linear-gradient(30deg, #F5F6ED, #cdf5ff);
  opacity: 0;
  -webkit-transition: all 0.15s ease-in-out;
}
#items li:hover:before {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
}
#items li h2 {
  height: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.meta{
  font-style: italic;
}
.meta:hover {
  pointer: default;
}
.meta .category {
  color: gray;
}
.meta .category:hover {
  color: black; 
}
.content {
  float: left;
  font-size: 1.1em;
  color: rgb(37, 37, 37);
  font-family: "Helvetica";
  font-weight: lighter;
}
p > code {
  display: inline-block;
  background: rgb(63, 146, 253);;
  border-radius: 3px;
  width: auto;
  padding: 1px 6px 3px 6px;
  height: auto;
  vertical-align: middle;
  text-align: center;
  color: white;

}

#main .post {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2% 15% 0 15%;
  box-sizing: border-box;
}

.post .title {
  font-weight: normal;
}

.page-brand {
  width: 100%;
  float: left;
  height: 80px;
  line-height: 80px;
  text-align: left;
  vertical-align: middle;
  font-size: 2em;
  padding-left: 2%;
  border-bottom: 1px solid gray;
  color: gray;
  font-weight: 100;
}
