---
---

// Font
$bodyfont : serif;
$postFontColor: #555555;
$postLinkColor: rgb(33, 103, 250);

// Color
$title-color: #565656;

// Mixins
@mixin linear-gradient($angle, $fromColor, $toColor) {
  background: -webkit-linear-gradient($angle, $fromColor, $toColor);
  background:    -moz-linear-gradient($angle, $fromColor, $toColor);
  background:      -o-linear-gradient($angle, $fromColor, $toColor);
  background:         linear-gradient($angle, $fromColor, $toColor);
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
       -moz-transition: $transition-property $transition-time $method;
        -ms-transition: $transition-property $transition-time $method;
         -o-transition: $transition-property $transition-time $method;
            transition: $transition-property $transition-time $method;
}
@mixin box-sizing($property) {
  -webkit-box-sizing: $property;
     -moz-box-sizing: $property;
       -o-box-sizing: $property;
          box-sizing: $property;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $bodyfont;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.title {
  color: $title-color;
}

#wrapper {
  width: 100%;
  min-height: 100%;
  overflow: auto;
  padding-left: 20%;
  @include box-sizing(border-box);
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  float: left;
  height: 100%;
  width: 20%;
  background-color: #08B494;
}

#wrapper-inner {
  float: left;
  height: auto;
  width: 100%;
  margin-bottom: 200px;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80px;
}

#navbar ul {
  float: right;
  list-style: none;

  width: 100%;
  height: auto;

  margin-right: 15%;
  @include box-sizing(border-box);
}

#navbar ul li {
  float: right;
  text-align: right;
  width: 100%;
  height: auto;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Helvetica';
  font-size: 1.2em;
  text-shadow: 0 0 gray, 0 0 gray;
  margin-bottom: 0.5em;
  @include transition(all, 0.2s, ease-in-out);
}

#navbar ul li:hover {
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px gray, 2px 2px gray;
  @include transition(all, 0.2s, ease-in-out);
}
#navbar ul.nav {
  margin-top: 30%; 
}
#navbar ul.desc {
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  padding-top: 10%;
  font-size: 0.85em;
}

#main .meta {
  color: #9c9c9c;
}

#items {
  float: left;
  list-style: none;
  width: 100%;
  height: auto;
  @include box-sizing(border-box);
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
}

#items li {
  position: relative;
  padding: 40px;
  border-bottom: 1px solid silver;
}
#items li:hover {
  cursor: pointer;
}
#items li:before {
  content: '';
  height: 100%;
  width: 100%;
  display: block;

  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  opacity: 0;

  @include linear-gradient(30deg, #F5F6ED, #cdf5ff);
  @include transition(all, 0.2s, ease-in-out);
}
#items li:hover:before {
  opacity: 1;
  cursor: pointer;
  @include transition(all, 0.2s, ease-in-out);
}
#items li h2 {
  height: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.meta{
  font-style: italic;
}
.meta:hover {
  pointer: default;
}
.meta .category {
  color: gray;
}
.meta .category:hover {
  color: black; 
}
.content {
  float: left;
  width: 100%;
  font-size: 1.1em;
  color: rgb(37, 37, 37);
  font-family: "Helvetica";
  font-weight: lighter;
  min-height: 100%;
  height: auto !important;
}

p > code {
  display: inline-block;
  background: rgb(63, 146, 253);;
  border-radius: 3px;
  width: auto;
  padding: 1px 6px 3px 6px;
  height: auto;
  vertical-align: middle;
  text-align: center;
  color: white;

}

#main .post {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2% 15% 0 15%;
  @include box-sizing(border-box);
}

.post {
  .title {
    font-weight: normal;
  }
  .content {
    color: $postFontColor;
    a {
      color: $postLinkColor;
    }
    a:hover {
      text-decoration: underline;
    }

    img {
      width: 100%;
    }
  }

}
.page-brand {
  width: 100%;
  float: left;
  height: 80px;
  line-height: 80px;
  text-align: left;
  vertical-align: middle;
  font-size: 2em;
  padding-left: 2%;
  border-bottom: 1px solid gray;
  color: gray;
  font-weight: 100;
}

.post-nav {
  width: 100%;
  height: 80px;
  float: left;
  
  position: absolute;
  bottom: 0;
  left: 0;
  margin:0;
  padding: 0;
}

.post-nav li {
  width: 50%;
  height: 100%;
  float: left;
  background: white;
  padding-top: 0.8em;
  border-top: 1px solid #eee;;
  opacity: 0.8;
  @include box-sizing(border-box);
  @include transition(all, 0.2s, ease-in-out);
}
.post-nav li:hover {
  color: white;
  opacity: 1;
  background:rgb(31, 189, 202) ;
  @include transition(all, 0.2s, ease-in-out);
}
.post-nav li:hover .title {
  color: white;
  @include transition(all, 0.2s, ease-in-out);
}

.post-nav small {
  font-style: italic;
  font-size: 0.8em;
  display: block;
  width: 100%;
}
.post-nav .previous, 
.post-nav .next {
  font-size: 1.1em;    
}
.post-nav .previous {
  text-align: left;
  padding-left: 2em; 
}
.post-nav .next {
  text-align: right;
  padding-right: 2em;  
}
