---
---

// SASS MIXINS
@mixin box-sizing($property) {
  -webkit-box-sizing: $property;
     -moz-box-sizing: $property;
       -o-box-sizing: $property;
          box-sizing: $property;
}

/*----------------------------------------------------------------------
                            Style Overide
----------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    border: none;

    width: 100%;
    height: 100%;
    background: #E3E3E3;
    text-align: center;

    overflow-x: hidden;

    font-family:  'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
    font-size: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}
h1, h2, h3, h4, h5, h6,
li {
    text-align: left;
}


img {
    max-width: 100%;
    display: block;
    border-radius: 4px;
    margin: 0 auto;
}
a {
    color: inherit;
    text-decoration: none;
}

/*----------------------------------------------------------------------
                       12  grid system
----------------------------------------------------------------------*/
.size-1 {
    width: 1 / 12 * 100%;
}
.size-2 {
    width: 2 / 12 * 100%;
}
.size-3 {
    width: 3 / 12 * 100%;
}
.size-4 {
    width: 4 / 12 * 100%;
}
.size-5 {
    width: 5 / 12 * 100%;
}
.size-6 {
    width: 6 / 12 * 100%;
}
.size-7 {
    width: 7 / 12 * 100%;
}
.size-8 {
    width: 8 / 12 * 100%;
}
.size-9 {
    width: 9 / 12 * 100%;
}
.size-10 {
    width: 10 / 12 * 100%;
}
.size-11 {
    width: 11 / 12 * 100%;
}
.size-12 {
    width: 100%;
}

.size-1, .size-2, .size-3, .size-4,
.size-5, .size-6, .size-7, .size-8,
.size-9, .size-10, .size-11, .size-12 {
    float: left;
    @include box-sizing(border-box);
}

.sidebar {
}
.hero {
    background: url('/img/hero.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 20em;
    @include box-sizing(border-box);
    text-align: center;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
        margin-right: 0.25em;
    }

    & > * {
        display: inline-block;
        vertical-align: middle;
    }

}
.navbar {
    width: 100%;
    height: 3em;
    background: black;
    padding: 0;
    margin: 0;

    li {
        float: left;
        height: 100%;
        line-height: 3em;
        vertical-align: middle;
        text-align: center;
        min-width: 6em;
        width: auto;
        color: white;
        @include box-sizing(border-box);
        &:hover {
            cursor: pointer;
        }
    }

    li:not(:last-child) {
        border-right: 1px solid #EEE;
    }

    a {
        color: white;
    }
}

.post {
    padding: 2em 8em;
    .content {
        text-align: left;
    }
}

/*----------------------------------------------------------------------
                            layout
----------------------------------------------------------------------*/
.posts {
    margin: 0;
    padding: 2em;
    border-right: 1px solid #EEE;
    @include box-sizing(border-box);

    .post-preview {
        margin-bottom: 5em;
        text-align: left;
        padding-bottom: 1em;
        border-bottom: 1px solid #EEE;
        @include box-sizing(border-box);
    }

    h1, h2, h3, h4 {
        color: black;
    }
}

#main {
    background: white;
    margin-bottom: 5em;
    box-shadow: 0 0 10px #A0A0A0;
}

.aside {
    margin: 0;
    padding: 2em;
}
.preview-title {
    font-weight: 400;
}

.footer {
    width: 100%;
    height: auto;
    padding: 1em;
    color: #686868;
    font-variant: small-caps;
    @include box-sizing(border-box);
}

.read-more {
    font-style: italic;
}

.archives {
    margin-bottom: 2rem;
    & > * {
        padding-left: 1em;
        font-size: 0.8rem;
        color: #777;
    }

}
.archives-caption {
    margin: 1rem 0;
    font-weight: 100;
}
// desktop
@media screen and (min-width: 960px) {
    #wrapper {
        max-width: 960px;
        width: 90%;
        background: white;
        margin: 0 auto;
        box-shadow: 0 0 10px #A0A0A0;
    }

}

// mobile
@media screen and (max-width: 960px) {
    #wrapper {
        width: 100%;
        background: white;
        margin: 0 auto;
    }


    .posts , .post{
        padding: 1em;
    }

    .hero {
        padding: 2em 1em;
    }
}


