---
layout: default
title: Anran's Life
---

<div class="page-brand">
  Posts of category {{ page.category }}
</div>
<ul id="items">
{% for post in site.categories.[page.category] %}
  <li>
    <a href="{{ post.url }}">
      <h2 class="title">{{ post.title }}</h2>
      <small class="meta">
        <span class="timestamp">{{ post.date | date_to_long_string }}</span>&nbsp;in&nbsp;
        {% for cate in post.categories %}
        <a href="/categories/{{ cate }}/"><span class="category">{{ cate }}</span></a>
        {% endfor %}
      </small>
    </a>
  </li>
{% endfor %}
 </ul>
