<!DOCTYPE html>
<head>
  <meta chartset="UTF-8">
  <title>{{ page.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% for category in page.categories %}
  <meta property="article:tag" content="{{ category }}" />
  {% endfor %}

  {% if page.description %}
  <meta name="description" content="{{ page.description | truncatewords: 200 | strip_newlines | escape_once }}" />
  {% else %}
  <meta name="description" content="{{ content | strip_html | truncatewords: 200 | strip_newlines | escape_once }}" />
  {% endif %}
  <link type="text/css" rel="stylesheet" href="/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>

<body>

<div id="wrapper">
  <div id="wrapper-inner">
    <!-- nav zone -->
    <div id="navbar">
      <ul class="nav">
        <li><a href="/">Blog</a></li>
      </ul>
      <ul class="footnote">
        <li>what's life without whimsy</li>       
      </ul>
    </div>
    
    {{ content }}

  </div><!-- End of #wrapper-inner -->
</div><!-- End of #wrapper -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53444396-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
