<!DOCTYPE html>
<head>
  <meta chartset="UTF-8">
  <title>{{ page.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <link type="text/css" rel="stylesheet" href="/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>

<body>
  <!-- nav zone -->
  <div id="navbar">
    <ul class="nav">
      <li><a href="/">Blog Home</a></li>
    </ul>
  </div>

  <div id="main">
    {{ content }}
  </div>

  <script src="script.js"></script>
</body>
</html>
