@font-face {
  font-family: "Gloria Hallelujah";
  src: url("GloriaHallelujah.ttf") format("truetype");
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #111118;
  margin: 0;
  font-family: "Gloria Hallelujah";
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -9999;
}

#wrapper {
  height: 100%;
  width: 100%;
  background: transparent;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.quotes-wrapper {
  height: 100%;
  width: 100%;
  background: transparent;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.quotes {
  display: inline-block;
  vertical-align: middle;
  background: transparent;;
  height: auto;
  max-width: 1000px;
  font-size: 2.3em;
  color: rgb(211, 234, 241);
  word-spacing: 0.08em;
  p.text {
    text-align: left;
    line-height: 1.5em;
  }
  p.origin {
    text-align: right;
  }
}

@media (max-width:1000px) {
  .quotes {
    max-width: 90%;
  }
}
